__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Virtual environments
.venv/
env/
venv/
ENV/

# Pytest
.pytest_cache/

# Editors
.vscode/
.idea/

# OS
.DS_Store
